html{
	height:100%;
}

body{
	font-family:Helvetica,Arial,sans-serif;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f5f5f5));
}
		
form input[type="text"]{
	margin:20px;
	height:35px;
	width:180px;
	text-align:center;
}

form input[type="submit"]{
	width:185px;
	height:40px;
	cursor:pointer;
}

form input[type="text"], form input[type="submit"]{
	color:#ccc;
	font-size:15px;
	background:#fff;
	border:2px solid #ccc;
	-webkit-border-radius:5px;
	border-radius:5px;
}

form input[type="text"]:focus, form input[type="text"]:hover,
form input[type="submit"]:focus, form input[type="submit"]:hover{
	color:#555;
	border-color:#888;
}

form input[type="text"], form input[type="text"]:focus, form input[type="text"]:hover,
form input[type="submit"], form input[type="submit"]:focus, form input[type="submit"]:hover{
	-webkit-transition:all 0.20s ease-in;
	transition:all 0.20s ease-in;
}


#wrapper{
	height:100%;
}

#wrapper #credentials{
	height:100%;
	text-align:center;
}

#wrapper #credentials img{
	margin-top:50px;
}

#wrapper #credentials label{
	color:#888;
}

#wrapper #credentials small a,
#wrapper #credentials small a:visited,
#wrapper #credentials small a:active,
#wrapper #credentials small a:hover{
	font-size:10px;
	color:#ccc;
	text-decoration:none;
}

.hidden{
	display:none;
}

#toast{
	margin:50px;
	text-align:center;
}

#toast span{
	padding:7px;
	color:#fff;
	background:hsla(0,0%,0%,0.80);
	-webkit-border-radius:5px;
	border-radius:5px;
}