* {
	margin: 0;
	padding: 0;
	list-style: none;
}

.hidden {
	display: none;
}

.adapter {
	width: 100%;
	height: 100%;
}

.popup {
	width: 720px;
	height: 500px;
	color: #000000;
	font-family: helvetica, arial, freesans, clean, sans-serif;
	overflow: hidden;
}

.loading {
	background: url('../img/loading.gif') center center no-repeat;
}

.github_logo {
	width: 70px;
	height: 30px;
	display: inline-block;
	background: url('../img/header_logo.png') 0 0 no-repeat;
}

.github_header {
	height: 46px;
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#eaeaea));
	border-bottom: 1px solid #cacaca;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 10px rgba(0, 0, 0, 0.1);
}

.adapter .github_header .github_logo {
	margin: 0 auto;
	width: 920px;
	height: 46px;
	background-position: 0 center;
}

.popup .github_header .github_logo {
	position: relative;
	top: 8px;
	left: 90px;
}

.popup .github_header .github_logo:hover {
	cursor: pointer;
	background: url('../img/header_logo_hover.png') 0 0 no-repeat;
}

.copied {
    height: 24px;
    display: none;
    position: fixed;
    top: 11.5px;
    left: 325px;
    padding: 0px 8px;
    background: rgba(0, 0, 0, .77);
    border-radius: 3px;
    color: #fff;
    font-size: 11px;
    text-align: center;
    line-height: 24px;
    white-space: nowrap;
}

button {
    background: rgb(255, 255, 255);
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(225, 225, 225)));
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px 0;
    border: none;
    border-bottom: 1px solid #EBEBEB;
    border-radius: 4px;    
    color: #333;
    font-size: 12px;
    font-weight: bold;
    text-shadow: #FFFFFF 1px 1px 0;
    cursor: pointer;    
}

button:hover {
    background: #438BB1;
    background: -webkit-gradient(linear, left top, left bottom, from(#0CA6DD), to(#0770A0));
    border-bottom-color: #0770A0;
    color: #FFFFFF;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}

.button {
	height: 34px;
	display: inline-block;
	padding: 0 13px;
	border: none;
	border-bottom: 1px solid #ebebeb;
	border-radius: 4px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	color: #333;
	font-size: 12px;
	font-weight: bold;
	line-height: 36px;
	text-align: center;
	text-shadow: 1px 1px 0 #fff;
	cursor: pointer;
}

.button.neutral {
    background: #f4f4f4;
    background: -webkit-gradient(linear, left top, left bottom, from(#599bdc), to(#3173b4));
    border-bottom-color: #2A65A0;
	color: #fff;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}

.button.positive {
	background: #8add6d;
	background: linear-gradient(#8ADD6D,#60B044);
	background: -webkit-linear-gradient(#8ADD6D,#60B044);
	border-bottom-color: #509338;
	color: #fff;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}

.button.negative {
	background: #dc5f59;
	background: linear-gradient(#dc5f59,#b33630);
	background: -webkit-linear-gradient(#dc5f59,#b33630);
	border-bottom-color: #cd504a;
	color: #fff;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}

#settings {
	width: 720px;
	height: 453px;
	z-index: 40;
	position: absolute;
	display: none;
	background: #dfdfdf;
}

#settings ul {
    padding: 20px 0 0 75px;
}

#settings li {
    padding: 10px 0;
}

#settings .button {
    width: 74px;
    display: inline-block;
}

#settings .description {
    width: 475px;
    display: inline-block;
    margin-left: 30px;
    color: #333;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 0 1px 0 #fff;
}

#authorization h1 {
    height: 38px;
    display: block;
    padding-left: 18px;
    background: rgb(130, 154, 168);
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(130, 154, 168)), to(rgb(64, 90, 106)));
    border: 1px solid #677C89;
    border-radius: 3px 3px  0 0;
    border-bottom-color: #6B808D;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.7) 0 -1px 0;
    line-height: 38px;
}

#authorization h1 a {
    color: #FFFFFF;
    font-size: 11px;
    font-weight: normal;
    text-decoration: none;
    text-shadow: none;
}

#authorization h1 a:hover {
    text-decoration: underline;
}

#authorization div {
    height: 226px;
    background: #E9F1F4;
    border: 1px solid #D8DEE2;
    border-radius: 0 0 3px 3px;
    border-top-color: #E9F1F4;
    border-bottom-width: 2px;
    text-align: center;
}

#authorization button {
    width: 81px;
    height: 34px;
    margin-top: 80.5px;
    cursor: pointer;
}

#application_header {
	height: 47px;
	margin-top: -47px;
}

.user_links {
	z-index: 50;
	position: relative;
	float: right;
	margin: 10px 10px 0 0;
	background: #f1f1f1;
	background: -webkit-linear-gradient(#f1f1f1,#e0e0e0);
	border: 1px solid #dddddd;
	border-radius: 3px;
	box-shadow: 0 1px 0 #fafafa, inset 0 1px 0 #fafafa;
}

.user_links li, .user_links .link {
	display: inline-block;
}

.user_links li {
	height: 25px;
	margin-left: 10px;
}

.user_links li:hover {
	cursor: pointer;
}

.user_links .link {
	width: 16px;
	height: 16px;
	padding: 0 5px;
	padding-top: 5px;
	background: url('../img/user_links.png') 0 0 no-repeat;
	text-decoration: none;
}

.user_links li:first-child .link {
	padding-left: 0;
}

.user_links .extension_settings .link {
	background-position: -92px 4px;
}

.user_links .extension_settings:hover .link, .user_links .extension_settings .link.opened {
	background-position-y: -36px;
}

.user_links .log_out .link {
	background-position: -66px 4px;
}

.user_links .log_out:hover .link {
	background-position-y: -33px;
}

.user_links .tooltip {
	margin-left: 3px;
}

.tooltip {
	display: block;
	position: absolute;
	visibility: hidden;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid rgba(0, 0, 0, .77);
}

.tooltip h1 {
	height: 24px;
	display: block;
	position: absolute;
	margin-top: 5px;
	padding: 0 8px;
	background: rgba(0, 0, 0, .77);
	border-radius: 3px;
	color: #ffffff;
	font-size: 11px;
	font-weight: normal;
	line-height: 24px;
	white-space: nowrap;
}

.refresh {
	width: 73px;
	height: 25px;
	z-index: 0;
	position: relative;
	margin-top: 6px;
	color: #666666;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 0px #ffffff;
	line-height: 25px;
}

.refresh:hover {
	background: #438BB1;
    background: -webkit-gradient(linear, left top, left bottom, from(#599bdc), to(#3173b4));
	border: 1px solid #518cc6;
	border-bottom-color: #2a65a0;
	color: #FFFFFF;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px 0;	
	cursor: pointer;
}

#application_footer, #settings_footer {
	clear: both;	
	height: 39px;
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#eaeaea));
	border-top: 1px solid #cacaca;	
	box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.4), 0 0 10px rgba(0, 0, 0, 0.1);
}

#settings_footer {
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	box-shadow: none;
}

#dashboard, #content {	
	height: 413px;
	float: left;
	overflow-x: hidden;
	overflow-y: hidden;
}

#dashboard {
	width: 249px;
	border-right: 1px solid #cacaca;
}

#content {
	width: 450px;
	padding: 0 10px;
	overflow-y: auto;
}

.context_overlay {
	width: 100%;
	height: 100%;
	z-index: 20;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	background: transparent;
}

.context_switcher, .application_nav {
	margin-top: 79.3px;
}

.context_switcher .context_switcher_button {
	width: 142px;
	height: 27px;
	display: block;
	margin: 0 auto;
	padding: 0 28px 0 3px;
	background: url('../img/context_switcher.png') 100% -2px no-repeat,
	            -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#ececec));
	border: 1px solid #d4d4d4;
	border-radius: 3px;
	font-size: 13px;
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
	line-height: 27px;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;	
}

.context_switcher .context_switcher_button img {
	width: 20px;
	height: 20px;
	margin-top: -2px;
	padding-right: 7px;
	border-radius: 2px;
	vertical-align: middle;
}

.context_switcher .context_switcher_button span {
	max-width: 120px;
	display: inline-block;
	overflow: hidden;
}

.context_switcher .context_switcher_button:hover {
    background: url("../img/context_switcher.png") 100% -32px no-repeat, 
                -webkit-gradient(linear, left top, left bottom, from(#599bdc), to(#3173b4));
	border: 1px solid #518cc6;
	border-bottom-color: #2a65a0;
	color: #ffffff;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);	
}

.context_switcher .down:hover {
	border-color: #2165a0;
	border-bottom-color: #518cc6;
	background: url("../img/context_switcher.png") 100% -32px no-repeat,
			    -webkit-gradient(linear, left top, left bottom, from(#3072b3), to(#599bdc));
	color: #ffffff;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}

.context_switcher .active, .context_switcher .show:active {
	background: url("../img/context_switcher.png") 100% -32px no-repeat,
	            -webkit-gradient(linear,left top,left bottom,from(#767676),to(#9E9E9E));
	border-color: #686868;
	color: #fff;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
}

.context_switcher .context_switcher_panel {
	width: 300px;
	z-index: 21;
	position: absolute;
	margin: 5px 0 0 37px;
	background: #fff;
	border: 1px solid #c1c1c1;
	border-radius: 4px;
	box-shadow: 0 0 13px rgba(0, 0, 0, 0.31);
	overflow: hidden;
}

.context_switcher_panel .close {
	width: 8px;
	height: 8px;
	float: right;
	display: block;
	margin-top: 8px;
	margin-right: 8px;
	background: url('../img/panel_close.png') 0 0 no-repeat;
}

.context_switcher_panel .close:hover {
	background-position: 0 -16px;
	cursor: pointer;
}

.context_switcher_panel header {
	padding: 12px 10px 9px 10px;
	background: #f6f8f8;
	background: -webkit-gradient(linear,left top,left bottom,from(#f6f8f8),to(#e9eeee));
	border-bottom: 1px solid #f0f3f3;
	color: #111;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 1.0);
}

.context_switcher_panel .orgs li {
	padding: 8px 10px 8px 20px;
	border-top: 1px solid #eee;
	color: #666;
	font-size: 12px;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
}

.context_switcher_panel .orgs li:hover {
	background: url('../img/context_check_white.png') 5px 11px no-repeat, #4f84c4;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	color: #fff;
}

.context_switcher_panel .orgs li:first-child {
	border-top: none;
}

.context_switcher_panel .orgs li.selected {
	color: #000;
	background: url('../img/context_check.png') 5px 11px no-repeat;
}

.context_switcher_panel .orgs li.selected:hover {
	background: url('../img/context_check_highlight.png') 0 0 no-repeat;
}

.context_switcher_panel .orgs .no_orgs {
	padding: 20px 0;
	color: #888;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
}

.context_switcher_panel .orgs img {
	width: 18px;
	height: 18px;
	padding: 1px;
	border: 1px solid #eee;
	line-height: 1px;
	vertical-align: middle;
}

.context_switcher_panel .orgs span {
	padding-left: 3px;
}

.context_switcher_panel a.manage_organizations {
	display: block;
	padding: 10px;
	background: url('../img/organizations.png') 95% 6px no-repeat;
	border-top: 1px solid #eee;
	color: #4183c4;
	font-size: 13.34px;
	font-weight: bold;
	text-decoration: none;
}

.context_switcher_panel a.manage_organizations:hover {
	background-position: 95% -19px;
	text-decoration: underline;
}

.application_nav ul {
	width: 175px;
	margin: 0 auto;
	color: #777777;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0 1px 0 #ffffff;
	text-align: center;
	cursor: pointer;
}

.application_nav li {
	height: 34px;
	background: url('../img/nav_bar_background.png') 0 0 repeat-x, 
	            #fafafa;
	border: 1px solid #dadada;
	border-top: none;
	line-height: 32px;
}

.application_nav li:first-child {
	border-top: 1px solid #eaeaea;
	border-radius: 3px 3px 0 0;
}

.application_nav li:last-child {
	border-radius: 0 0 3px 3px;
	border-bottom: 1px solid #cacaca;
}

.application_nav li:hover {
	background: url('../img/nav_bar_background_hover.png') 0 0 repeat-x;
}

.application_nav .selected {
	background: url('../img/nav_bar_background_highlight.png') 0 0 repeat-x!important;
	color: #000000!important;
}

.repo_list {
	margin-top: 10px;
}

.repo_list .public, .repo_list .private {
	margin-bottom: 10px;
	padding: 8px 10px 0 10px;
	border: 1px solid #dddddd;
	border-radius: 4px;
	overflow: hidden;
}

.repo_list .public {
	background: url('../img/repo_public.png') 6px 9px no-repeat;
}

.repo_list .public.fork {
	background-image: url('../img/repo_public_fork.png');
}

.repo_list .private {
	background: url('../img/repo_private.png') 6px 9px no-repeat;
}

.repo_list .private.fork {
	background-image: url('../img/repo_private_fork.png');
}

.repo_stats {
	float: right;
	padding-right: 10px;
	padding-left: 15px;
	font-size: 11px;
	font-weight: bold;
	
}

.repo_stats li {
	display: inline-block;
	color: #666666;
}

.repo_stats li.watchers a, .repo_stats li.forks a {
	height: 21px;
	display: inline-block;
	padding-right: 5px;
	padding-left: 23px;
	color: #666666;
	text-decoration: none;
	line-height: 21px;
}

.repo_stats li.watchers a {
	background: url('../img/repo_stat_watchers.png') 5px -2px no-repeat;
}

.repo_stats li.forks a {
	background: url('../img/repo_stat_forks.png') 5px -2px no-repeat;
}

.repo_list .repo_id {
    display: inline-block;
    padding-bottom: 8px;
}

.repo_list .repo_id h3 {
	display: block;
	padding-left: 18px;
	font-size: 14px;
	white-space: nowrap;
	line-height: 19px;
}

.repo_list .repo_id h3 a {
	color: #4183c3;
	text-decoration: none;
}

.repo_list .repo_clone {
    display: none;
    margin: 0 -10px;
    background: #fafafa;
    border-top: 1px solid #dddddd;
    color: #333;
    font-size: 11px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
    line-height: 21px;
}

.repo_list .repo_clone .zip {
    width: 41px;
    padding-right: 9px;
    display: inline-block;
    margin: 0 10px;
    background: url('../img/zip.png') 1px -1px no-repeat,
                -webkit-gradient(linear,left top,left bottom,from(#F4F4F4),to(#ECECEC)); 
    border: 1px solid #d4d4d4;    
    border-radius: 3px;
    text-align: right;
}

.repo_list .repo_clone .zip:hover {
    background: url('../img/zip.png') 1px -27px no-repeat,
                -webkit-gradient(linear,left top,left bottom, from(#599bdc), to(#3072b3));    
    border: 1px solid #518cc6;
    border-color-bottom: #2a65a0;
    color: #fff;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
}

.repo_list .repo_clone .zip.down:hover {
    background: url('../img/zip.png') 1px -27px no-repeat,
                -webkit-gradient(linear,left top,left bottom, from(#3071b3), to(#599bdc));    
    border: 1px solid #518cc6;
    border-color-bottom: #2a65a0;
    color: #fff;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
}

.repo_list .repo_clone a.zip {
    color: #333;
    text-decoration: none;
}

.repo_list .repo_clone .links {
    display: inline-block;
}

.repo_list .repo_clone .links li {
    height: 21px;
    margin: 7px 0;
    padding: 0 9px;
    display: inline-block;
    background: -webkit-gradient(linear,left top,left bottom,from(#F4F4F4),to(#ECECEC));
    border: 1px solid #d4d4d4;
    border-left: none;
    cursor: pointer;
}

.repo_list .repo_clone .links li:first-child {
    border-left: 1px solid #d4d4d4;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.repo_list .repo_clone li:last-child {
    padding: 0;
    border: none;
}

.repo_list .repo_clone .links li:hover {
    background: -webkit-gradient(linear,left top,left bottom, from(#599bdc), to(#3072b3));
    border-color: #518CC6;
    border-bottom-color: #2A65A0;
    color: #fff;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}

.repo_list .repo_clone .links li.selected {
    color: #333;
    text-shadow: 1px 1px 0 #fff;
    border: 1px solid #d4d4d4;
    border-bottom-color: #9a9a9a;
    background: -webkit-gradient(linear, left top, left bottom, from(#d7d7d7), to(#ababab));
}

.repo_list .repo_clone li input[type="text"] {
    height: 16px;
    padding: 3px 5px 2px 5px;
    display: inline-block;
    position: relative;
    top: 1px;
    border: 1px solid #ccc;
    border-left: none;
    color: #666;
    font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
    font-size: 11px;
}

.repo_list .repo_about {
	margin: 0 -10px;
	padding: 5px 10px;
	background: url("../img/expand.png") right bottom no-repeat,-webkit-gradient(linear,left top,left bottom,from(#fafafa),to(#efefef));
	border-top: 1px solid #eeeeee;
	cursor: pointer;
}

.repo_list .private .repo_about {
    background: url("../img/expand.png") right bottom no-repeat, #fffeeb;
}

.repo_list .description {
	margin-bottom: 3px;
	color: #444;
	font-size: 12px;
}

.repo_list .updated {
	color: #888;
	font-size: 11px;
}

.repo_list .fork_flag {
	padding-left: 18px;
	color: #777;
	font-size: 11px;
	white-space: nowrap;
}

.repo_list .fork_flag a {
	color: #4183c4;
	text-decoration: none;
}

.filter {
	margin-top: 10px;
	padding: 5px 10px 0 10px;
	background: #fafafb;
	border: 1px solid #ddd;
	border-radius: 4px;
	overflow: hidden;
}

.filter_search {
	width: 166px;
	height: 15px;
	float: left;
	margin-top: 1px;
	padding: 2px 12px;
	background: url('../img/filter_input.png') 0 0 no-repeat;
	border:none;
	outline: none;
	color: #444;
	font-size: 11px;
	font: 99%;
}

.filter_search.active {
	background: url('../img/filter_input.png') 0 -19px no-repeat;
}

.filter ul {
	display: block;
	text-align: right;
	overflow: hidden;
}

.filter li {
	display: inline;
	margin-left: 13px;
}

.filter li span {
	display: inline-block;
	padding-bottom: 8px;
	color: #777;
	font-size: 11px;
}

.filter li span:hover {
	text-decoration: underline;
	cursor: pointer;
}

.filter .selected {
	background: url('../img/filter_selected_bit.gif') 50% 100% no-repeat;
	color: #000;
	font-weight: bold;
}

.watched_list li {
	height: 30px;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
}

.watched_list {
	clear: both;
}

.watched_list li.public {
	background: url('../img/repo_public.png') 0 8px no-repeat;
}

.watched_list li.private {
    background: url('../img/repo_private.png') 0 7px no-repeat #fffeeb;
}

.watched_list a {
	display: block;
	padding: 0 10px 0 20px;
	background: url('../img/arrow_faded.png') 97% 50% no-repeat;
	color: #4183c4;
	font-size: 14px;
	text-decoration: none;
	line-height: 30px;
}

.watched_list a:hover {
	background: url('../img/arrow.png') 97% 50% no-repeat;
	text-decoration: underline;
}

.watched_list .repo {
	font-weight: bold;
}

.following_list li {
	height: 24px;
	padding: 5px 0;
	border-bottom: 1px solid #dddddd;
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;
}

.following_list a {
	color: #3183c4;
	text-decoration: none;
}

.following_list img {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	padding: 1px;
	border: 1px solid #dddddd;
	vertical-align: middle;
}

.following_list em {
	color: #999999;
	font-style: normal;
}